.service-card {
    width: 300px;
    border: 2px solid #1eff29;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    font-family: "Times New Roman", serif;
}

.service-card h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

.service-card p {
    margin: 0;
    font-size: 16px;}
