body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1eff29;
    color: black;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

header p {
    margin: 10px 0 0 0;
    font-size: 18px;
    font-style: italic;
}