body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

footer {
    background-color: #7fbaf5;
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 1.6;
}

footer a {
    color: white;
    text-decoration: underline;
    margin: 0 5px;
    cursor: pointer;
}