body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background-color: #f4f4f9;
    padding: 30px 50px;
    width: 800px;
}

h2 {
    color: #1e90ff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
}

p {
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
    color: #000;
}